body, html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

#content{
    width: 100vw;
    height: 100vh;
}

.nav{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

.tabs{
    display: inline-grid;
    grid-template: 1fr/ 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.homeimg{
    background-image: url('./src/images/headingc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hometext{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.homeintro{
    font-size: 40px;
}

.contactimg{
    background-image: url('./src/images/contact.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.contactdiv{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5vh;
    background-color: black;
    border-radius: 10px;
    gap: 1vh;
    opacity: 0.85;
}

.input{
    width: 30vw;
    padding: 2vh;
    border-radius: 5px;
}

.text{
    width: 30vw;
    height: 20vh;
    padding: 2vh;
    border-radius: 5px;
}

.submit{
    width: 10vw;
    padding: 2vh;
    border-radius: 5px;
    background-color: white;
}

.menubody{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: orange;
}

.menu{
    display: inline-grid;
    grid-template: 1fr 1fr/ 1fr 1fr 1fr;
    grid-template-areas: "a b c" "d e f";
    text-align: left;
    column-gap: 1vw;
    row-gap: 5vh;
    padding: 5vh;
    width: 75vw;
    background-color: aqua;
}

.tleft{
    background-color: white;
    grid-area: a;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1vh;
}

.tcenter{
    background-color: white;
    grid-area: b;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1vh;
}

.tright{
    background-color: white;
    grid-area: c;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1vh;
}

.bleft{
    background-color: white;
    grid-area: d;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1vh;
}

.bcenter{
    background-color: white;
    grid-area: e;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1vh;
}

.bright{
    background-color: white;
    grid-area: f;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 1vh;
}

.menutitle{
    text-align: center;
}